<mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$ | async">
            <mat-expansion-panel-header class="right-aligned-header">
                <mat-panel-title >
                {{post.title}}
                </mat-panel-title>
                <mat-panel-description>   
                     <button mat-raised-button color="primary" (click)="likeIt(post.id,post.like)">LIKE</button> 
                     Liked By: {{post.like}}
                </mat-panel-description>
            </mat-expansion-panel-header> 
            {{post.body}} 
        </mat-expansion-panel>
    </mat-accordion>
    