<h2> List Of Posts</h2>
<p *ngIf = "!(posts$ | async)"> loading posts... </p>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}} {{post.id}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <mat-card-actions>
        <button mat-button> <b> Save </b></button>
      </mat-card-actions>
       {{post.body}} 
       <div *ngFor = "let comment of comments$ | async">
         <div *ngIf = "comment.postId == post.id" > <b>Comment: </b>{{comment.body}}  </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
